<h1>Korisnik: {{id}}</h1>
<hr>
<p>
	<h2>Sta ti treba, matori?</h2>
	<select class="form-control">
        <option>svinja</option>
        <option>krava</option>
        <option>pataka</option>
    </select>
	<input class="form-control" placeholder="Unesite broj grla" ng-model="quantity">
    <input class="form-control" placeholder="Unesite prosecnu masu grla" ng-model="weight">
	<input class="form-control" placeholder="Unesite datum" ng-model="deliveryDate">
	<br>

	<button type="button" class="btn btn-primary" ng-click="addMyRequest()">Predstavi zahtev</button>
	<button type="button" class="btn btn-primary" ng-click="goToMyRequests()">Pogledaj sve svoje zahteve</button>
</p>
<hr>