
	<h1>Sta ti treba, matori?</h1>
	<select class="form-control">
        <option ng-repeat="a in animals" value="{{a.ID}}">
        	{{a.name}}
        </option>
    </select>
	<input class="form-control" placeholder="Unesite broj grla" ng-model="quantity">
    <input class="form-control" placeholder="Unesite prosecnu masu grla" ng-model="weight">
	<input class="form-control" placeholder="Unesite datum" ng-model="deliveryDate">
	<br>

	<button type="button" class="btn btn-primary" ng-click="addMyRequest()">Predstavi zahtev</button>
	<button type="button" class="btn btn-primary" ng-click="goToMyRequests()">Pogledaj sve svoje zahteve</button>
</p>
<hr>