<h1>Moji zahtevi</h1>

<table class="table table-striped">

<!--<tr ng-repeat ="r in requests">	
	<td>{{r.quantity}}</td>
	<td>{{r.weight}}</td>
	<td><img ng-src="images/{{r.animal_name}}.png" width="128" height="128"></td>
	<td><a href="/app/#/request/{{r.ID}}">pogledaj ponude</a></td>
</tr>-->

<tr ng-repeat ="r in requests">	
	<td><h2>
	<a href="/app/#/request/{{r.ID}}" data-transition="slide" data-direction="reverse">pogledaj ponude</a> za &nbsp;&nbsp;&nbsp; 
	{{r.quantity}} x <img ng-src="images/{{r.animal_name}}.png" width="128" height="128"> po {{r.weight}}
	</h2></td>

</tr>





</table>