<div class="row" style="height: 100px;"></div>
<div class="row">
	<div class="col-md-1">
		
	</div>
	<div class="col-md-3 card" >
			<a href = "/app/#/user/1" >Trazim</a>
	</div>
	<div class="col-md-3 card" >
			<a href="/app/#/requests">Tabela zahteva</a>
	</div>
	<div class="col-md-3 card">
			<a href="/app/#/newSellOffer">Prodajem</a>
	</div>
	<x
	<div class="col-md-1">
		
	</div>
</div>

<style>
.boundImage
{
	max-width:100%;
	max-height:100%;
}
</style>

<div class="row">
	<div class="col-md-1">
		
	</div>
	<div class="col-md-3 card" >
			<a  href = "/app/#/user/1"><img ng-src='images/kupac.png' onmouseover="this.src='images/kupac_hover.png';" onmouseout="this.src='images/kupac.png';" class="boundImage"/></a>
	</div>
	<div class="col-md-3 card" >
		<a href="/app/#/requests"><img ng-src='images/tabela.png' onmouseover="this.src='images/tabela_hover.png';" onmouseout="this.src='images/tabela.png';" class="boundImage"/>		</a>
	</div>
	<div class="col-md-3 card" >
		<a href="/app/#/newSellOffer"><img ng-src='images/uzgajivac.png' onmouseover="this.src='images/uzgajivac_hover.png';" onmouseout="this.src='images/uzgajivac.png';" class="boundImage"/></a>
	</div>
	
	
	<div class="col-md-1">
		
	</div>
</div>
