.rotateABit {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

.leftArrow {
	background-image: url('../images/left.png');
}

.leftArrow: hover{
	background-image: url('../images/left_hover.png');
}

.card {
	border: 1px solid #DDDDDD;
	padding : 10px;
}